absl-py==2.3.1
accelerate==1.10.1
aiohappyeyeballs==2.6.1
aiohttp==3.13.0
aiosignal==1.4.0
anaconda-anon-usage==0.7.2
anaconda-auth==0.8.6
anaconda-cli-base==0.5.2
annotated-types==0.6.0
antlr4-python3-runtime==4.9.3
anyio==4.11.0
archspec==0.2.3
astor==0.8.1
asttokens==3.0.0
attrs==25.4.0
autopep8==2.3.2
bitsandbytes==0.48.1
blake3==1.0.7
bleach==6.3.0
blobfile==3.1.0
boltons==25.0.0
brotlicffi==1.0.9.2
cachetools==6.2.0
cbor2==5.7.0
certifi==2025.10.5
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.3.2
click==8.2.1
cloudpickle==3.1.1
colorama==0.4.6
comm==0.2.1
compressed-tensors==0.12.2
conda==25.9.0
conda-anaconda-telemetry==0.3.0
conda-anaconda-tos==0.2.2
conda-content-trust==0.2.0
conda-libmamba-solver==25.4.0
conda-package-handling==2.4.0
conda_package_streaming==0.12.0
conllu==6.0.0
contourpy==1.3.3
cryptography==45.0.5
cupy-cuda12x==13.6.0
cycler==0.12.1
DataProperty==1.1.0
datasets==4.1.1
debugpy==1.8.16
decorator==5.2.1
depyf==0.19.0
device-smi==0.4.1
dill==0.3.8
diskcache==5.6.3
distro==1.9.0
dnspython==2.8.0
einops==0.8.1
email-validator==2.3.0
evaluate==0.4.6
executing==2.2.1
fastapi==0.118.2
fastapi-cli==0.0.13
fastapi-cloud-cli==0.3.1
fastrlock==0.8.3
filelock==3.19.1
fonttools==4.60.1
frozendict==2.4.2
frozenlist==1.8.0
fsspec==2025.3.0
gguf==0.17.1
h11==0.16.0
hf_transfer==0.1.9
hf-xet==1.1.10
httpcore==1.0.9
httptools==0.6.4
httpx==0.28.1
huggingface-hub==0.35.3
idna==3.7
iniconfig==2.1.0
interegular==0.3.3
ipykernel==6.30.1
ipython==9.5.0
ipython_pygments_lexers==1.1.1
jaraco.classes==3.4.0
jaraco.context==0.0.0
jaraco.functools==4.1.0
jedi==0.19.2
jeepney==0.7.1
Jinja2==3.1.6
jiter==0.11.0
joblib==1.5.2
jsonlines==4.0.0
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
jupyter_client==8.6.3
jupyter_core==5.8.1
kaggle==1.7.4.5
kagglehub==0.3.13
keyring==25.6.0
kiwisolver==1.4.9
lark==1.2.2
libmambapy==2.0.5
llguidance==0.7.30
llmcompressor==0.8.1
llvmlite==0.44.0
lm_eval==0.4.9.1
lm-format-enforcer==0.11.3
logbar==0.0.4
loguru==0.7.3
lxml==6.0.2
markdown-it-py==2.2.0
MarkupSafe==3.0.3
matplotlib==3.10.7
matplotlib-inline==0.1.7
maturin==1.9.6
mbstrdecoder==1.1.4
mdurl==0.1.0
menuinst==2.3.1
mistral_common==1.8.5
more-itertools==10.3.0
mpmath==1.3.0
msgpack==1.1.2
msgspec==0.19.0
multidict==6.7.0
multiprocess==0.70.16
nest_asyncio==1.6.0
networkx==3.5
ninja==1.13.0
nltk==3.9.2
numba==0.61.2
numexpr==2.13.1
numpy==2.2.6
nvidia-cublas-cu12==12.8.4.1
nvidia-cuda-cupti-cu12==12.8.90
nvidia-cuda-nvrtc-cu12==12.8.93
nvidia-cuda-runtime-cu12==12.8.90
nvidia-cudnn-cu12==9.10.2.21
nvidia-cufft-cu12==11.3.3.83
nvidia-cufile-cu12==1.13.1.3
nvidia-curand-cu12==10.3.9.90
nvidia-cusolver-cu12==11.7.3.90
nvidia-cusparse-cu12==12.5.8.93
nvidia-cusparselt-cu12==0.7.1
nvidia-ml-py==13.580.82
nvidia-nccl-cu12==2.27.3
nvidia-nvjitlink-cu12==12.8.93
nvidia-nvtx-cu12==12.8.90
omegaconf==2.3.0
openai==2.2.0
openai-harmony==0.0.4
opencv-python-headless==4.12.0.88
optimum-quanto==0.2.7
outlines_core==0.2.11
packaging==25.0
pandas==2.3.3
parso==0.8.4
partial-json-parser==0.2.1.1.post6
pathvalidate==3.3.1
peft==0.17.1
pexpect==4.9.0
pillow==11.3.0
pip==25.2
pkce==1.0.3
platformdirs==4.3.7
pluggy==1.5.0
portalocker==3.2.0
prometheus_client==0.23.1
prometheus-fastapi-instrumentator==7.1.0
prompt_toolkit==3.0.43
propcache==0.4.0
protobuf==6.32.1
psutil==7.0.0
ptyprocess==0.7.0
pure_eval==0.2.3
py-cpuinfo==9.0.0
pyarrow==21.0.0
pybase64==1.4.2
pybind11==3.0.1
pycodestyle==2.14.0
pycosat==0.6.6
pycountry==24.6.1
pycparser==2.21
pycryptodomex==3.23.0
pydantic==2.11.7
pydantic_core==2.33.2
pydantic-extra-types==2.10.6
pydantic-settings==2.6.1
Pygments==2.19.1
PyJWT==2.10.1
pyparsing==3.2.5
PySocks==1.7.1
pytablewriter==1.2.1
pytest==8.4.2
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
python-json-logger==4.0.0
python-multipart==0.0.20
python-slugify==8.0.4
pytorch-crf==0.7.2
pytz==2025.2
PyYAML==6.0.3
pyzmq==27.1.0
random_word==1.0.13
ray==2.49.2
readchar==4.0.5
referencing==0.36.2
regex==2025.9.18
requests==2.32.4
rich==13.9.4
rich-toolkit==0.15.1
rignore==0.7.0
rouge_score==0.1.2
rpds-py==0.27.1
ruamel.yaml==0.18.10
ruamel.yaml.clib==0.2.12
sacrebleu==2.5.1
safetensors==0.6.2
scikit-learn==1.7.2
scipy==1.16.2
seaborn==0.13.2
SecretStorage==3.3.1
semver==3.0.2
sentencepiece==0.2.1
sentry-sdk==2.41.0
seqeval==1.2.2
setproctitle==1.3.7
setuptools==78.1.1
shellingham==1.5.0
six==1.17.0
sniffio==1.3.1
soundfile==0.13.1
soxr==1.0.0
sqlitedict==2.1.0
stack_data==0.6.3
starlette==0.48.0
sympy==1.14.0
tabledata==1.3.4
tabulate==0.9.0
tcolorpy==0.1.7
text-unidecode==1.3
threadpoolctl==3.6.0
tiktoken==0.12.0
tokenicer==0.0.5
tokenizers==0.22.1
tomli==2.2.1
torch==2.8.0
torchao==0.13.0
torchaudio==2.8.0
TorchCRF==1.1.0
torchdata==0.11.0
torchtune==0.6.1
torchvision==0.23.0
tornado==6.5.1
tqdm==4.67.1
tqdm-multiprocess==0.0.11
traitlets==5.14.3
transformers==4.56.2
triton==3.4.0
truststore==0.10.1
typepy==1.3.4
typer==0.19.2
typing_extensions==4.12.2
typing-inspection==0.4.0
tzdata==2025.2
urllib3==2.5.0
uvicorn==0.37.0
uvloop==0.21.0
vllm==0.11.0
watchfiles==1.1.0
wcwidth==0.2.13
webencodings==0.5.1
websockets==15.0.1
wheel==0.45.1
word2number==1.1
xformers==0.0.32.post1
xgboost==3.1.1
xgrammar==0.1.25
xxhash==3.6.0
yarl==1.22.0
zstandard==0.23.0
